nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: arial,sans-serif;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

body {
  background: #037F8C;
}

header {
  background-color: #D1E1E8;
  color: #f9e5af;
  font-family: Georgia, Palatino, serif;
  font-size: 12px;
  height: 12px;
  padding: 12px;
}

p {
    font-family: arial,sans-serif;
}


h1 {
  font-size: 20px;
  font-family: arial,sans-serif;
  color:#FFFFFF;
  text-align: center;
  margin: 25px;

}

h2 {
  font-size: 12;
  font-family: arial,sans-serif;
  color: #FFFFFF;
}
h3 {
  font-size: 12;
  font-family: arial,sans-serif;
  color: #black;
}
Section {
  background-color: whitesmoke;
  max-width: 800px;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}
article {
  border-width: 3px;
  border-color: black;
  border-style: solid;
  margin: 5px;
  border-radius: 10px;
}
.different {
  font-style: italic;
}
#bold {
  font-weight: bold ;
}
